{
  "extends": ["./packages/eslint-config-cozy-app/react.js"],
  "rules": {
    "array-callback-return": "off",
    "camelcase": "off",
    "class-methods-use-this": "off",                    // 18
    "consistent-return": "off",                         // 30
    "default-param-last": "off",                        // 11
    "eqeqeq": "off",                                    // 27
    "func-names": "off",                                // 23
    "global-require": "off",                            // 17
    "guard-for-in": "off",

    "import/extensions": "off",
    "import/named": "off",
    "import/no-cycle": "off",
    "import/no-dynamic-require": "off",
    "import/no-extraneous-dependencies": "off",                         // 55
    "import/no-mutable-exports": "off",                                 // 47
    "import/no-unresolved": "off",                                      // 52
    "import/no-named-default": "off",                   // 12
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",         // 14
    "import/no-relative-packages": "off",
    "import/order": "off",
    "import/prefer-default-export": "off",                            // 39

    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/aria-role": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",

    "max-classes-per-file": "off",
    "new-cap": "off",

    "no-alert": "off",
    "no-await-in-loop": "off",                          // 25
    "no-bitwise": "off",
    "no-case-declarations": "off",
    "no-cond-assign": "off",
    "no-console": "off",
    "no-constructor-return": "off",
    "no-continue": "off",
    "no-empty": "off",
    "no-else-return": "off",
    "no-loop-func": "off",
    "no-multi-assign": "off",
    "no-nested-ternary": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-promise-executor-return": "off",
    "no-restricted-syntax": "off",                                         // 68
    "no-restricted-exports": "off",
    "no-restricted-globals": "off",
    "no-return-assign": "off",
    "no-return-await": "off",
    "no-shadow": "off",                                                       // 79
    "no-throw-literal": "off",
    "no-undef": "off",                              // 11
    "no-underscore-dangle": "off",                                                          // 118
    "no-unused-expressions": "off",
    "no-use-before-define": "off",                                                          // 118
    "no-var": "off",                                                            // 39

    "prefer-const ": "off",
    "prefer-destructuring": "off",
    "prefer-promise-reject-errors": "off",
    "prefer-regex-literals": "off",
    "prefer-rest-params": "off",
    "prefer-spread": "off",
    "radix": "off",

    "react/button-has-type": "off",
    "react/default-props-match-prop-types": "off",
    "react/destructuring-assignment": "off",                                                        // 147
    "react/forbid-foreign-prop-types": "off",
    "react/forbid-prop-types": "off",                                                               // 112
    "react/function-component-definition": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-fragments": "off",
    "react/jsx-no-bind": "off",
    "react/jsx-no-constructed-context-values": "off",
    "react/jsx-no-useless-fragment": "off",
    "react/jsx-props-no-spreading": "off",                                                              // 121
    "react/no-access-state-in-setstate": "off",
    "react/no-array-index-key": "off",
    "react/no-danger": "off",
    "react/no-did-update-set-state": "off",
    "react/no-unused-class-component-methods": "off",
    "react/no-unused-state": "off",                     // 12
    "react/no-unused-prop-types": "off",
    "react/prefer-stateless-function": "off",           // 48
    "react/require-default-props": "off",                                                               // 126
    "react/sort-comp": "off",
    "react/state-in-constructor": "off",
    "react/static-property-placement": "off",

    "valid-typeof": "off",
    "vars-on-top": "off"
  }
}
