packages/babel-preset-cozy-app @edas
packages/browserslist-config-cozy @edas @Crash--
packages/commitlint-config-cozy @y-lohse
packages/cozy-app-publish @y-lohse @doubleface
packages/cozy-ci @y-lohse
packages/cozy-device-helper @ptbrowne
packages/cozy-doctypes @ptbrowne
packages/cozy-flags @ptbrowne
packages/cozy-harvest-lib @Crash-- @y-lohse
packages/cozy-interapp @Crash-- @y-lohse
packages/cozy-realtime @edas
packages/cozy-release @doubleface
packages/eslint-config-cozy-app @edas
packages/renovate-config-cozy @y-lohse @doubleface
